<!doctype html>
<html>

<head>
  <title>AAPL</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body class="stock">
    <div class="container">
      <header>
        <img src="img/competition.svg" width="100px">
        <ul class="menu">
          <li><a href="index.html">Главная</a></li>
          <li><a href="catalog.html">Каталог</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>

      </header>

  <hr/>
  <h1>
  AAPL
</h1>
  <hr/>

  <h2>
  Описание товара
</h2>
  <p2>Apple Inc. Common Stock (AAPL)</p2>
  <!--Autonomous custom element-->

  <h2>
  Характеристики товара
</h2>
  <p>
    <ul class="with_pic">
      <li><b>Тикер:</b> AAPL<br/></li>
      <li><b>Единицы:</b> Shares<br/></li>
      <li><b>Размер лота:</b> 1.0<br/></li>
      <li><b>Единица цены:</b> 1.0<br/></li>
      <li><b>Размер контракта:</b> 1.0<br/></li>
      <li><b>Тип:</b> Акции<br/></li>
      <li><b>Валюта:</b> USD<br/></li>
      <li><b>Шаг цены:</b> 0.01<br/></li>
      <li><b>Стоимость шага:</b> 0.01 $<br/></li>
      <li><b><a href="https://www.nasdaq.com/symbol/aapl"  target="_blank">Спецификация</a></b><br/></li>
    </ul>
  </p>
  <h2>
  График
</h2>
  <a href="img/AAPL_chart.PNG" target="_blank">
    <img src="img/AAPL_chart.PNG" width="100%"></a>
  <br/>
  <br/>
  <h2>
Подробное описание товара
</h2>
  <p>
    Apple (ticker symbol: AAPL) is&nbsp;one of&nbsp;the world&rsquo;s leading consumer electronics and personal computer companies. The Cupertino, California-based company was established in&nbsp;1977&nbsp;as Apple Computer Inc. It&nbsp;dropped the &laquo;Computer&raquo;
    from its name in&nbsp;early 2007. Apple&rsquo;s current place in&nbsp;the global marketplace is&nbsp;a&nbsp;far cry from its humble beginnings, with Steve Jobs, Steve Wozniak and Ronald Wayne selling hand-made personal computer kits in&nbsp;the late
    &rsquo;70s. The company continued to&nbsp;focus on&nbsp;personal computers for the following decades, but in&nbsp;recent years that focus has shifted more to&nbsp;consumer electronics such as&nbsp;the iPhone, iPad and iPod. However, Apple also sells
    a&nbsp;range of&nbsp;related software, services and applications, with some of&nbsp;the most prominent non-electronics products being the iCloud, iOS, Mac OS&nbsp;and Apple TV. In&nbsp;addition, the company sells and delivers digital applications
    and software through its iTunes Store, App Store, iBookstore and Mac App Store. Apple has remained focused on&nbsp;developing its own hardware, software, operating systems and services to&nbsp;provide its customers with the best user experience possible.
    A&nbsp;significant fraction of&nbsp;the company&rsquo;s efforts also go&nbsp;toward marketing and advertising as&nbsp;it&nbsp;believes such efforts are essential to&nbsp;the development and sale of&nbsp;its products. The company&nbsp;&mdash; the principal
    executive offices of&nbsp;which are located at&nbsp;1&nbsp;Infinite Loop, Cupertino, California 95014&nbsp;&mdash; has retail stores around the world, with more than 300 locations as&nbsp;of&nbsp;2012. Apple has five reportable operating segments:
    Americas, Europe, Japan, Asia-Pacific and Retail. The geographic-based segments do&nbsp;not include the results of&nbsp;the Retail segment. Despite Apple&rsquo;s market-leading position, the company still faces a&nbsp;number of&nbsp;risk factors,
    which include changing global economic conditions, fluctuating consumer demand, worldwide-competition and potential supply chain disruptions.</p>
  <footer>
    <hr/> Все права защищены ©<br/> Наверное.
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </footer>
</div>
</body>


</html>
