<!doctype html>
<html>

<head>
  <title>Stock info</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="container">
      <header>
        <img src="img/competition.svg" width="100px">
        <ul class="menu">
          <li><a href="index.html">Главная</a></li>
          <li><a href="catalog.html">Каталог</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>

      </header>
  <h1>Напишите нам</h1>
  <form action="" method="post">
    <fieldset>
      <legend>Обратная связь</legend>
      <input type="text" placeholder="Ваше Имя">
      <br/>
      <input type="text" placeholder="Тема">
      <br/>
      <textarea></textarea>
      <br/>
      <input type="email" placeholder="Email">
      <input type="file">
      <br/>
      <input type="reset" value="Очистить">
      <input type="submit" value="Сохранить">

    </fieldset>
  </form>
  <h1>Адрес</h1>
  <p>88005553535</p>
  <p>Улица Пушкина, дом Клотущкина</p>
  <p>email@example.com</p>
  <footer>
    <hr/> Все права защищены ©<br/> Наверное.
  </footer>
</div>
</body>


</html>
